.login-container {
    display: flex;
    align-items: center;
    background-color: #fafafc;
    margin: auto;
    height: 100vh;
    padding: 0px 100px;
  }
  .login-content{
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .login-form {
    border-radius: 25px 0px 0px 25px;
    width:100%;
    height: 100%;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
  }
  
  .login-form input[type='email'],
  .login-form input[type='password'] {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .login-form .remember-me {
    margin: 10px 0;
  }
  
  .login-form button {
    width: 63%;
    padding: 10px;
    border: none;
    background-color: #7c4dff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
.login-form h2 {
    margin-bottom: 1em; /* Adds space below the heading */
  }
  .remember-me{
    width: 60%;
    margin: 10px;
  }
  .remember-me input{
    margin-right: 15px;
  }
  .login-form .alternative-signin {
    text-align: center;
    margin-top: 20px;
  }
  
  .login-form .forgot-password {
    text-align: center;
    margin-top: 10px;
    color: #7c4dff;
    cursor: pointer;
  }
  
  .login-illustration {
    flex-basis: 40%; /* Adjust the width of the illustration container */
    background-color: #7c4dff; /* Purple background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    padding: 20px;
    border-radius: 0px 25px 25px 0px;
  }
  
  .login-illustration img {
    width: 80%;
    max-width: 450px; /* Adjust the maximum size of the illustration */
    height: auto ;
  
}